<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of cards">
    <ion-card-header>
      <ion-card-title>
        {{item.taskHeading}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.taskDesc}}
    </ion-card-content>
  </ion-card>

</ion-content>
